<%= form_for currency, :html => { :class => "form-horizontal" } do |form| %>

  <% if currency.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= pluralize(currency.errors.count, "error") %> prohibited this currency from being saved:
        </h3>
      </div>
      <div class="panel-body">
        <ul>
          <% currency.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'control-label col-lg-1'  %>
    <div class="col-lg-3">
      <%= form.text_field :name, id: :currency_name, class: 'form-control' %>
    </div>
    <%=form.error_span(:name) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-3">
      <%= form.submit nil, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', currencies_path, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
