<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Currency</h1>
</div>

<p>
  <h5><strong>Name:</strong> <%= @currency.name %></h5>
</p>
<br />

<%= link_to 'Back', currencies_path, :class => 'btn btn-link'  %>
<%= link_to 'Edit', edit_currency_path(@currency), :class => 'btn btn-default' %>
<%= link_to 'Destroy',
              currency_path(@currency),
              :method => 'delete',
              :data => { confirm: 'Are you sure?' },
              :class => 'btn btn-danger' %>
