<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Subscribers - Managers</h1>
</div>

<% @companies.each do |company| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= company.name %></h4>
    </div>
    <div class="panel-body">
      <% company.managed_by.each do |currency, product_subscribers| %>
        <div class="alert alert-info" role="alert">
          <strong>Currency: </strong><%= currency.name %> | <strong>Total value: </strong><%= "%.2f" % total_value(product_subscribers) %>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Product</th>
              <th>Company</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% product_subscribers.each do |product_subscriber| %>
              <tr>
                <td><%= product_subscriber.product_price.product.name %></td>
                <td><%= product_subscriber.product_price.product.company.full_name %></td>
                <td><%= product_subscriber.product_price.price_formatted %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'Back', root_path, :class => 'btn btn-link' %>
