<%= form_with(model: product_subscriber, local: true) do |form| %>
  <% if product_subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_subscriber.errors.count, "error") %> prohibited this product_subscriber from being saved:</h2>

      <ul>
      <% product_subscriber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.collection_select(:company_id, Company.all, :id, :full_name) %>
  </div>

  <div class="field">
    <%= form.label :product_price_id %>
    <%= form.collection_select(:product_price_id, ProductPrice.all, :id, :full_name) %>
  </div>

  <div class="field">
    <%= form.label :is_manager %>
    <%= form.check_box :is_manager, id: :product_subscriber_is_manager %>
  </div>

  <div class="field">
    <%= form.label :is_payer %>
    <%= form.check_box :is_payer, id: :product_subscriber_is_payer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
