<p id="notice"><%= notice %></p>

<h1>Product Subscribers</h1>

<table>
  <thead>
    <tr>
      <th>Product owner</th>
      <th>Product</th>
      <th>Product price</th>
      <th>Product subscriber</th>
      <th>Is manager</th>
      <th>Is payer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_subscribers.each do |product_subscriber| %>
      <tr>
        <td><%= product_subscriber.product_price.product.company.full_name %></td>
        <td><%= product_subscriber.product_price.product.name %></td>
        <td><%= product_subscriber.product_price.price_formatted %></td>
        <td><%= product_subscriber.company.full_name %></td>
        <td><%= product_subscriber.is_manager %></td>
        <td><%= product_subscriber.is_payer %></td>
        <td><%= link_to 'Show', product_subscriber %></td>
        <td><%= link_to 'Edit', edit_product_subscriber_path(product_subscriber) %></td>
        <td><%= link_to 'Destroy', product_subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Subscriber', new_product_subscriber_path %> |
<%= link_to 'Back', root_path %>
