<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Product Subscribers</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product owner</th>
      <th>Product</th>
      <th>Product price</th>
      <th>Product subscriber</th>
      <th>Is manager</th>
      <th>Is payer</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @product_subscribers.each do |product_subscriber| %>
      <tr>
        <td><%= product_subscriber.product_price.product.company.full_name %></td>
        <td><%= product_subscriber.product_price.product.name %></td>
        <td><%= product_subscriber.product_price.price_formatted %></td>
        <td><%= product_subscriber.company.full_name %></td>
        <td><%= product_subscriber.is_manager %></td>
        <td><%= product_subscriber.is_payer %></td>
        <td>
          <%= link_to 'Show', product_subscriber, :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_product_subscriber_path(product_subscriber), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', product_subscriber, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Subscriber', new_product_subscriber_path, :class => 'btn btn-primary' %>
<%= link_to 'Back', root_path, :class => 'btn btn-link' %>
