<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Product Subscriber</h1>
</div>

<p>
  <h5><strong>Company:</strong> <%= @product_subscriber.company.full_name %></h5>
</p>
<br />

<p>
  <h5><strong>Product price:</strong> <%= @product_subscriber.product_price.full_name %></h5>
</p>
<br />

<p>
  <h5><strong>Is manager:</strong> <%= @product_subscriber.is_manager %></h5>
</p>
<br />

<p>
  <h5><strong>Is payer:</strong> <%= @product_subscriber.is_payer %></h5>
</p>
<br />

<%= link_to 'Back', product_subscribers_path, :class => 'btn btn-link'  %>
<%= link_to 'Edit', edit_product_subscriber_path(@product_subscriber), :class => 'btn btn-default' %>
<%= link_to 'Destroy',
              product_subscriber_path(@product_subscriber),
              :method => 'delete',
              :data => { confirm: 'Are you sure?' },
              :class => 'btn btn-danger' %>
