<h1>rdmanager</h1>

<p>
  <%= link_to 'Companies', companies_path %>
</p>

<p>
  <%= link_to 'Product Subscribers', product_subscribers_path %>
</p>

<p>
  <%= link_to 'Subscribers - Managers', grouped_subscribers_managers_path %>
</p>

<p>
  <%= link_to 'Subscribers - Payers', grouped_subscribers_payers_path %>
</p>

<p>
  <%= link_to 'Currencies', currencies_path %>
</p>
