<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj, id: :company_cnpj %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>

  <h3>Currencies</h3>
  <div id="company_currencies">
    <%= form.fields_for :company_currencies do |company_currency| %>
      <%= render 'company_currency_fields', f: company_currency %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add currency', form, :company_currencies %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
