<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Products</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.company.full_name %></td>
        <td>
          <%= link_to 'Show', company_product_path(@company, product), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_company_product_path(@company, product), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', [@company, product], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_company_product_path(@company), :class => 'btn btn-primary' %>
<%= link_to 'Back', company_path(@company), :class => 'btn btn-link' %>
