<p id="notice"><%= notice %></p>

<h1>Product</h1>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.company.full_name %>
</p>

<%= link_to 'Edit', edit_company_product_path(@company, @product) %> |
<%= link_to 'Back', company_products_path %>
